@CHARSET "ISO-8859-1";
		h1{
			margin: 8px;
			padding: 0;
			color: #ffffff;
			text-align: center;
			text-transform:uppercase;
		}
		h3{
			margin: 20px;
			padding: 0;
			color: #ffffff;
			text-align: center;
		
		}
		body{
			margin: 0;
			padding: 0;
			background: url(ytu5.jpg);
			background-size: cover;
			font-family: sans-serif; 
			color: #0000ff;
		}
		p{
			
			font-weight: bold;
			color: white;
			font-size:20px;
			padding-bottom:8px;
		}
		#userName,#password{
			color:black;
		}
		thead{
			color:#ffffff;
		}
		#refresh{
			border: none;
			outline: none;
			height: 30px;
			font-size: 16px;
			cursor: pointer;
			border-radius: 10px;
			width:150px;			
			
		}
		#refresh:hover{
			background-color:#80ffff;
			color:black;
		
		}
		#reback{
			border: none;
			outline: none;
			height: 30px;
			font-size: 16px;
			cursor: pointer;
			border-radius: 10px;
			width:150px;			
			
		}
		#reback:hover{
			background-color:#80ffff;
			color:black;
		
		}
		a:link, a:visited{
			display: block;
			front-weight: bold;
			color: black;
			background-color: #c8f9fd;
			width: 120px;
			text-align: center;
			padding: 4px;
			//text-transform:uppercase;
			text-decoration: none;

		}
		a:hover, a:active{
			background-color:#ffff80;
			color: black;
		}
		